<html lang="en">
<body>
<p>Enter your name</p>
<form action="/login" method="post">
    <label for="name">Name
        <input type="text" id="name" name="name">
    </label>
    <input type="submit" value="Submit">
</form>
</body>
</html>
